rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /courses/{courseId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
    match /proposals/{proposalId} {
      allow read, write: if true;
    }
  }
}
